.page {
  .content {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding-inline: 4rem; // ⭐ 左右留空隙（重點）
  }

  .introduce {
    flex: 1;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem 1.5rem 4rem;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.1);

      h3 {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: 600;
      }

      > div {
        padding-inline: 1.5rem;
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: #4b5563;
      }
    }
  }

  .education {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    border-radius: 20px;

    h3 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .resume-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      position: relative;
      padding-left: 1.5rem;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #6c5ce7;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
