header {
  border-bottom: solid 1px black;
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 50;

  h1 {
    margin: 0px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 5rem;
    color: #00bca1;
  }

  nav {
    display: flex;
    gap: 1.5rem;
  }

  div {
    display: flex;
    align-items: center;
  }
}
