header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 50;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.25rem;
    color: #00bca1;
  }

  .container > div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
  }

  .left {
    z-index: 20;
  }

  .middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 10;

    nav {
      display: flex;
      gap: 2.5rem;

      a {
        text-decoration: none;
        font-size: 1.05rem;
        color: #222;
        position: relative;
        padding: 0.25rem 0;
      }

      .active {
        position: relative;
        color: #00bca1;

        &::after {
          content: "";
          width: 5px;
          height: 5px;
          background-color: #00bca1;
          border-radius: 50%;
          position: absolute;
          left: calc(50% - 2.5px);
          bottom: -8px;
        }
      }
    }

    .right {
      margin-left: auto;
      z-index: 20;

      .button {
        background: #f6f6f6;
        padding: 0;
        border-radius: 8px;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;

        .button {
          border: none;
          padding: 0.7rem 0.7rem;
          font-size: 0.95rem;
          cursor: pointer;
          color: #111;

          &:hover {
            background-color: #00bca1;
            color: white;
          }
        }
      }
    }
  }
}
