div.home {
  display: flex;
  flex-direction: var(--home-flex-direction);
  justify-content: var(--home-flex-justify-content);

  > div {
    width: var(--home-width);
    gap: 1.5rem;

    &.text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: var(--home-text-align-items);
      padding-left: var(--home-text-padding-left);
      min-height: var(--home-min-height);

      > span {
        align-self: flex-start;
        background-color: #00bca1;
        padding: 3px 6px;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        border-radius: 5px;
      }

      h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 3rem;
      }

      strong {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.75rem;
        margin-bottom: 30px;
      }

      div {
        &.button {
          display: flex;
          gap: 1.25rem;

          .btn {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.25rem;
            padding: 0.75rem 1.25rem;
            background-color: #00bca1;
            color: #ffffff;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
              background-color: #028e79;
            }

            > i {
              margin-left: 10px;
            }
          }

          button {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.25rem;
            padding: 0.75rem 1.25rem;
            background-color: #f6f6f6;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
              background-color: #00bca1;
              color: #ffffff;
            }

            > i {
              margin-left: 10px;
            }
          }
        }

        &.social {
          margin-top: 1rem;
          display: flex;
          gap: 1.75rem;

          .icon {
            display: flex;
            flex-direction: var(--home-flex-direction);
            justify-content: var(--home-flex-justify-content);
            gap: var(--home-gap);
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
            cursor: pointer;

            &:hover {
              color: #00bca1;
            }
          }
        }
      }
    }

    &.image {
      display: flex;
      flex-direction: var(--home-flex-direction);
      justify-content: var(--home-flex-justify-content);
      gap: var(--home-gap);
      align-items: center;
      justify-content: center;

      img {
        width: var(--home-image-width);
        max-width: 100%;
        height: auto;
      }
    }
  }
}
