section {
  width: 100%;

  div {
    &.container {
      max-width: 90vw;
      margin: 0px auto;

      padding-left: var(--container-padding-left);
      padding-right: var(--container-padding-right);

      > div {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
      }
    }
  }

  main.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding-left: var(--container-padding-left);
    padding-right: var(--container-padding-right);

    > div {
      padding-top: 4rem;

      &.home {
        min-height: 700px;
      }

      &.page {
        min-height: 700px;

        div {
          &.title {
            margin-top: 1.5rem;
            margin-bottom: 3rem;
            text-align: center;

            strong {
              color: rgba(0, 0, 0, 0.55);
              font-weight: 500;
              letter-spacing: 0.5px;
            }
          }
        }
      }

      a {
        color: #333333;
        text-decoration: inherit;

        &:hover {
          color: #00bca1;
        }
      }
    }
  }
}
