section {
  width: 100%;

  div {
    &.container {
      max-width: 90vw;
      margin: 0px auto;

      padding-left: 1.5rem;
      padding-right: 1.5rem;

      > div {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
      }
    }
  }

  main.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    > div {
      padding-top: 5rem;
      &.home {
        min-height: 500px;
      }

      &.page {
        outline: solid 1px red;
        min-height: 500px;
      }
    }
  }
}

a {
  color: #333333;
  text-decoration: inherit;

  &:hover {
    color: #00bca1;
  }
}
