section {
  width: 100%;

  div {
    &.container {
      max-width: 90vw;
      margin: 0px auto;

      padding-left: 1.5rem;
      padding-right: 1.5rem;

      > div {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
      }
    }
  }

  main.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    > div {
      padding-top: 4rem;

      &.home {
        min-height: 700px;
      }

      &.page {
        min-height: 700px;

        div {
          &.title {
            margin-top: 1.5rem;
            margin-bottom: 6rem;
            text-align: center;
          }
        }
      }
    }
  }

  a {
    color: #333333;
    text-decoration: inherit;

    &:hover {
      color: #00bca1;
    }
  }
}
