div {
  .a {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &.skills {
    display: flex;
    flex-direction: row;
    gap: var(--skills-gap);
    padding: 0 3rem;
    width: 80%;
    max-width: 1200px;

    .left,
    .right {
      width: var(--skills-width);

      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .skill {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .progress {
        height: 10px;
        border: solid 1px #ccc;

        .progress-bar {
          height: 100%;
          background-color: #00bca1;
        }
      }
    }
  }
}
