div {
  &.skills {
    display: flex;
    gap: 4rem;
    padding: 0 3rem;

    .left,
    .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .skill {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .progress {
        height: 10px;
        border: solid 1px #ccc;

        .progress-bar {
          height: 100%;
          background-color: #00bca1;
        }
      }
    }
  }
}
