@use "./main";
@use "./header";
@use "./footer";
@use "./home";
@use "./about";
@use "./skills";
@use "./portfolio";
@use "./variable";

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
